# # created by virtualenv automatically


# # Archivos de Python
# __pycache__/
# *.py[cod]
# *.pyo

# # # Entornos virtuales
# # venv/
# # env/

# # Archivos de configuración
# .env

# # Archivos de logs
# *.log

# # Archivos del sistema
# .DS_Store
# Thumbs.db

